<div class="jumbotron offset-lg-2 col-lg-8">
  <h1 class="display-3">Bienvenue dans le portail Devixi</h1>
  <p class="lead">Pour s'authentifier, utilisez l'un des comptes suivants:</p>
  <ul class="lead">
     <li> Username: <strong>haifa</strong> - Mot de passe: <strong>password</strong>. Haifa peut consulter les comptes et ouvrir de nouveaux comptes.</li>
     <li> Username: <strong>ameni</strong> - Mot de passe: <strong>password</strong>. Ameni ne peut que consulter les comptes.</li>
  </ul>
  <hr class="my-2">
  <p>More info</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://www.ixin.net" role="button">Visitez le site de IXIN</a>
  </p>
</div>
