<div class="card col-lg-8 offset-lg-2">
  <div class="card-header bg-info text-white">
    <h4>Liste de tous les comptes</h4>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Numéro</th>
          <th>Propriétaire</th>
          <th>Solde</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of comptes">
          <td>{{item.numero}}</td>
          <td>{{item.proprietaire}}</td>
          <td>{{item.solde}}</td>
        </tr>

      </tbody>
    </table>
  </div>

</div>


