<div class="form-group row">
  <label for="proprio" class="offset-lg-2 col-lg-1">Filtrer par </label>
  <div class="col-lg-3">
    <input type="text" [(ngModel)]="FilteredBy"  class="form-control"  id="proprio" aria-describedby="helpId" placeholder="">
  </div>
  </div>

<div class="card col-lg-8 offset-lg-2">
  <div class="card-header bg-info text-white">
    <h4>Liste de tous les comptes</h4>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Numéro</th>
          <th>Propriétaire</th>
          <th>Solde</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of comptes | comptesFilter : FilteredBy">
          <td >{{item.numero}}</td>
          <td>{{item.proprietaire}}</td>
          <td>{{item.solde | currency:'EUR': 'symbol': '1.2-2'}}</td>
        </tr>

      </tbody>
    </table>
  </div>

</div>


